.chart{
    margin: 0 auto;
    display: block;
    max-width: 100%;
}
.result-text{
    color:red;
    font-weight: bold;
    line-height: 40px;
}
.result-chart{
    max-width: 100%;
}

.swiss-map{
    margin: 50px 0 0;
}

@media screen and (min-width: 992px) {
    .swiss-map{
        margin: 50px 100px 0;
    }
}

#International_borders
{
    opacity:1;
    fill:none;
    stroke:#000000;
    stroke-width:1.2;
}

#Cantons_default
{
    fill:#fff3e3;
    fill-opacity:1;
    stroke:#000000;
    stroke-width:0.5;
}

#Lakes
{
    opacity:0.87;
    fill:#d3ebfa;
    fill-opacity:1;
    stroke:#000000;
    stroke-width:0.2;
}

.canton{
    cursor: pointer;
}
.canton:hover{
    stroke-width:2 !important;
}
.canton.yes{
    fill:#00ff00;
}
.canton.no{
    fill:#ff0000;
}
.canton.fifty-up{
    fill-opacity:0.2;
}
.canton.seventy-up{
    fill-opacity:0.5;
}
.canton.ninety-up{
    fill-opacity:0.8;
}