/* carousel */
.carousel{
    margin-top: 56px;
}
.carousel-inner{
    width:100%;
}

.carousel-item{
    max-height: 60vh;
}

.carousel img{
    min-height: 100% !important;
    min-width: 100%;
    position: relative;
    margin-left: 50%;
    transform: translateX(-50%);
}

.bildlink, .bildlink:active, .bildlink:hover{
    color: white;
}

.carousel h3{
    text-shadow: 0 0 20px black;
}

.home-page{
    margin-top: 50px;
    margin-bottom: 50px;
    min-height: calc(40vh - 226px);
}
