h1{
    font-size: 2em;
    margin: 30px 0;
    width: 100%;
}
h2{
    font-size: 1.6em;
    width: 100%;
}
.main-content{
    margin-top: 100px;
    margin-bottom: 100px;
}
.btn-help{
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 100px;
    width: 60px;
    height: 60px;
    line-height: 40px;
    font-size: 30px;
    font-weight: bold;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}
.detail-page__main,
.detail-page__side {
    padding: 0 40px;
}
