<form action="abstimmen.html">

    <span>Abstimmung vom 25.11.2018</span> <span style="float:right">VoteID: ZH123456</span>

    <h1>Volksinitiative «Für die Würde der landwirtschaftlichen Nutztiere (Hornkuh-Initiative)»</h1>


    <div class="row mx-md-n5">
        <div class="col px-md-5" style="text-align:center;font-weight: 500"><div class="p-3 border bg-light">Wollen Sie die Volksinitiative «Für die Würde der landwirtschaftlichen Nutztiere (Hornkuh-Initiative)» annehmen?</div></div>
    </div>

    <p></p>

    <div class="container">
        <div class="row btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary col-sm" >
                <input type="radio" name="options" id="option1" autocomplete="off" required> JA
            </label>
            <label class="col-1">
            </label>
            <label class="btn btn-secondary col-sm">
                <input type="radio" name="options" id="option2" autocomplete="off" required> ENTHALTEN
            </label>
            <label class="col-1">
            </label>
            <label class="btn btn-secondary col-sm">
                <input type="radio" name="options" id="option3" autocomplete="off" required> NEIN
            </label>
        </div>
    </div>

    <p>&nbsp;</p>
    <p>&nbsp;</p>

    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="agreement" required>
        <label class="form-check-label" for="agreement">Ich bestätige, dass ich mit sämtlichen Konsequenzen meiner Stimme einverstanden bin.</label>
    </div>
    <button type="button" class="btn btn-primary btn-lg btn-block button" style="box-shadow:crimson" onclick="document.location.href='dankefuersabstimmen.html';">JETZT ABSTIMMEN</button>
</form>


<a href="index.html" style="color:black;text-decoration-line: underline;">abbrechen</a>
