<span>Abstimmung vom 25.11.2018, Volksinitiative «Für die Würde der landwirtschaftlichen Nutztiere (Hornkuh-Initiative)»</span> <span style="float:right">VoteID: ZH123456</span>

<p style="font-weight: 500; font-size:40pt; text-align:center; margin: 125pt;">Vielen Dank für Ihre Stimme</p>

<a href="index.html" style="color:black;text-decoration-line: underline;">Home</a>