<div class="row">
    <div class="col-lg-12">
        <h1>Volksinitiative «Für die Würde der landwirtschaftlichen Nutztiere (Hornkuh-Initiative)»</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 order-lg-last detail-page__side">
        <div class="row">
            <div class="col">
                <h2>Aufpassen!</h2>
                <p>
                    <b>Abstimmung am 25. September 2019</b>
                </p>
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col-lg-12 col-md-5 col-sm-5 col-xs-12">
                <div class="row">
                    <div class="col">
                        <a href="abstimmen.html" class="btn btn-primary" style="width: 100%;margin-bottom: 20px;">Jetzt abstimmen!</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-5 col-sm-5 col-xs-12">
                <div class="row">
                    <div class="col">
                        <a href="ergebnisse.html" class="btn btn-secondary" style="width: 100%;">Ergebnisse anzeigen</a>

                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9 detail-page__main">
        <div class="proposal-content richtext">

            <div class="row">
                <div class="col">
                    <h2>Ziel</h2>
                    <p>
                        In der Schweiz soll es mehr Kühe, Zuchtstiere, Ziegen und Zuchtziegenböcke mit Hörnern geben. Deshalb soll der Bund LandwirtInnen, die diese Tiere mit Hörnern haben, finanziell unterstützen.
                    </p>
                    <iframe style="width: 100%;" width="700" height="500" src="https://www.youtube.com/embed/7Hhoaq6VUHg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <p>&nbsp;</p>
            <div class="row">
                <div class="col-lg order-1 order-lg-12">
                    <h2>Ausgangslage</h2>
                    <p>
                        In der Schweiz gibt es eine Raumplanung. Mit der Raumplanung wird festgelegt, wo es beispielsweise Wohngebiete oder Flächen für die Landwirtschaft gibt. Bund, Kantone und Gemeinden legen dafür unter anderem fest, wo es Bauzonen, Landwirtschaftszonen oder Schutzzonen gibt.
                    </p>
                    <p>
                        Bauzonen sind Flächen, auf denen gebaut werden darf, also beispielsweise Wohnungen, Büros oder Läden. Ausserhalb der Bauzone darf nur ausnahmsweise gebaut werden. So etwa gewisse landwirtschaftliche Bauten (z.B. Ställe oder Gewächshäuser) oder notwendige Bauten (z.B. Strassen oder Stromleitungen).
                    </p>
                </div>
                <div class="col-lg order-2 order-lg-1">
                    <h2>Was würde sich ändern?</h2>
                    <p>
                        Wird die Initiative angenommen, darf es in Zukunft gesamthaft nicht mehr Bauzonen geben, als es heute gibt. Eine neue Bauzone darf es also nur dann geben, wenn eine gleich grosse Fläche an einem anderen Ort nicht mehr als Bauzone gilt.
                    </p>
                    <p>
                        Ausserhalb von Bauzonen darf in weniger Fällen gebaut werden als heute. Gebaut werden dürfen nur noch Gebäude für die bodenabhängige Landwirtschaft. Dazu gehören z.B. Bauten für die Verarbeitung von Freilandgemüse. Oder Bauten, die von öffentlichem Interesse sind, wie z.B. Wasserreservoirs.
                    </p>
                    <p>
                        In der Verfassung wird zudem festgehalten, dass sich Siedlungen nachhaltig entwickeln sollen. Das heisst z.B., dass es weniger neue Häuser gibt und dafür Häuser mit mehr Stockwerken. Oder dass Wohnort und Arbeitsort möglichst nahe beieinanderliegen, unter anderem damit die Verkehrswege möglichst kurz sind.
                    </p>
                </div>
            </div>
            <div class="row">

            </div>

        </div>
    </div>

</div>
