<div class="mx-auto">


    <div class="col">
        <h1>Hilfe</h1>
    </div>


    <div class="col">

        <p>Auf dieser Seite finden Sie Hilfe zum Umgang mit fairvote.ch . Schauen Sie sich die Video Anleitungen an,
            lesen
            Sie die FAQ durch oder nehmen Sie per Chat Kontakt auf mit einem Support Agent.
        </p>

    </div>


    <div class="col">

        <h1>Video-Anleitung</h1>
    </div>

    <div class="col">

        <iframe style="width: 100%;" width="700" height="500" src="https://www.youtube.com/embed/dRRm6GWUM8k"
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>

    </div>

    <div class="col">

        <h1>FAQ</h1>
        
    </div>
    <div class="col">
        <h5>wie erhalte ich mein Login für fairvote.ch</h5>
        <p>Alle in der Schweiz stimmberechtigten Personen erhalten ihr persönliches Login per Post.</p>
    </div>
    <div class="col">
        <h5>wie kann ich mich über die aktuellen Abstimmungen informieren</h5>
        <p>Unter Abstimmungen können sie die Informationen zu den aktuellen Abstimmungen abrufen.</p>
    </div>

    <div class="col">
        <h2>Hilfe per Chat</h2>
        <p> Benötigen Sie weitere Unterstützung?
            Gerne ist Ihnen ein Support-Mitarbeiter per Chat behilflich.
            Klicken Sie dafür auf das untenstehende Chat-Symbol.
        </p>
        <img src="img/chat.gif" height="100px" alt="Chat-Symbol">
    </div>

    </di>
    </di>
</div>