<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block" src="img/Hornkuh.jpg"  alt="First slide">
      <div class="carousel-caption">
        <a class="bildlink" href="details.html">  <h3>Die Hornkuhinitiative</h3></a>
        <p></p>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block" src="img/AHV.jpg" alt="Second slide">
      <div class="carousel-caption">
          <a class="bildlink" href="#"> <h3>Steuerreform und AHV-Finanzierung</h3></a>
        <p></p>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block" src="img/1zu12.jpg" alt="Third slide">
      <div class="carousel-caption">
          <a class="bildlink" href="#"> <h3>Eidgenössische Volksinitiative 1:12 - Für gerechte Löhne</h3></a>
        <p></p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
