<div class="row justify-content-center">
    <div class="col-xl-4 col-lg-4 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Dürfen Bauern Kälbern weiterhin die Hörner wegbrennen?</h5>
          <p class="card-text">Brauchen Kühe ihre Hörner? Der Schweizer Bauer Armin Capaul sagt "ja" und hat mit mehr als 100.000 Unterschriften eine Volksabstimmung dazu erzwungen. Er kämpft dafür, dass Landwirte jungen Kälbern nicht mehr mit einem heißen Brennstab die Hornanlagen wegbrennen - wenn auch unter Narkose. Am Sonntag stimmen die Schweizer über seine Hornkuh-Initiative ab.</p>
          <a href="http://www.manager-magazin.de/unternehmen/artikel/hornkuh-volksabstimmung-in-der-schweiz-intitative-gegen-tierquaelerei-und-wegbrennen-von-hoernern-a-1239991.html" target= "blank" class="btn btn-primary">Zur Quelle</a>
        </div>
      </div>
        <p>&nbsp;</p>
    </div>
    <div class="col-xl-4 col-lg-4 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Paket aus Steuerreform und AHV</h5>
          <p class="card-text">Wenn Ueli Maurer (SVP), Finanzminister, und Alain Berset (SP), Sozialminister, zusammen für das Gleiche weibeln, dann wird klar: Hier wird ein Päckli geschnürt. Und dieses Päckli heisst «Bundesgesetz über die Steuerreform und die AHV-Finanzierung».</p>
          <a href="https://www.srf.ch/news/schweiz/paket-aus-steuerreform-und-ahv-die-svp-ist-sich-bei-dieser-vorlage-alles-andere-als-einig" target= "blank" class="btn btn-primary">Zur Quelle</a>
        </div>
      </div>
        <p>&nbsp;</p>
    </div>
    <div class="col-xl-4 col-lg-4 col-xs-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Der linke Zweihänder</h5>
                <p class="card-text">Der höchste Lohn in einem Unternehmen darf nicht höher sein als das Zwölffache des tiefsten Lohns im gleichen Betrieb. Diese maximale Lohnspanne will die von den Jungsozialisten (Juso) lancierte und von linken Parteien und Gewerkschaften mitgetragene 1:12-Initiative in die Bundesverfassung schreiben. Anders als die «Abzocker»-Initiative wurde das im März 2011 eingereichte Volksbegehren von den eidgenössischen Räten speditiv behandelt. Es kommt nun am 24. November zur Abstimmung.</p>
                <a href="https://www.nzz.ch/schweiz/der-linke-zweihaender-1.18156656" target= "blank" class="btn btn-primary">Zur Quelle</a>
            </div>
        </div>
    </div>
</div>

