<div class="mx-auto">

    <h1>Aktuelle Abstimmungen</h1>

    <table class="table table-responsive">
        <thead>
            <tr>
                <th scope="col">Abstimmung vom</th>
                <th scope="col">Vorlage</th>
                <th scope="col">Zur Abstimmung</th>
                <th scope="col">Informationen</th>
                <th scope="col">Ergebnisse</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">21.09.2018</th>
                <td>Hornkuhinitative</td>
                <td><a href="abstimmen.html" class="btn btn-primary" role="button">Abstimmung</a>
                <td><a href="details.html" class="btn btn-secondary" role="button">Info</a>
                <td><a href="ergebnisse.html" class="btn btn-secondary" role="button">Ergebnisse</a>
            </tr>
            <tr>
                <th scope="row">21.09.2018</th>
                <td>1:12</td>
                <td><button type="button" class="btn btn-primary"disabled>Abstimmung</button></td>
                <td><button type="button" class="btn btn-secondary"disabled>Info</button></td>
                <td><button type="button" class="btn btn-secondary"disabled>Ergebnisse </button></td>
            </tr>
            <tr>
                <th scope="row">21.09.2018</th>
                <td>Bundesgesetz über die Steuerreform<br> und die AHV-Finanzierung (STAF)</td>
                <td><button type="button" class="btn btn-primary" disabled>Abstimmung</button></td>
                <td><button type="button" class="btn btn-secondary" disabled>Info</button></td>
                <td><button type="button" class="btn btn-secondary" disabled>Ergebnisse</button></td>
            </tr>
        </tbody>
    </table>
    <div class=row>
        <div class="col-sm">
            <button type="button" class="btn btn-primary" disabled>Archiv</button>
        </div>
    </div>
</div>