
<form class="container">
    <div class="row">
        <div class="col-12">
            <h1>Login</h1>

            <p>Bitte Benutzername und Passwort eingeben.</p><br>
        </div>
    </div>

    <div class="form-group row">
        <label for="inputBenutzername" class="col-sm-2 col-form-label">Benutzername</label>
        <div class="col-sm-10">
            <input type="benutzername" class="form-control" id="inputBenutzername" placeholder="Benutzername">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Passwort</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword" placeholder="********">
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <a href="#" role="button" class="btn btn-primary btn-lg btn-block button">Login</a>
        </div>
    </div>
</form>
