<footer class="footer mt-auto py-3 ">
    <a href="help.html" class="btn btn-primary btn-help" title="Hilfe aufrufen">?</a>
    <nav class="nav">
        <a class="nav-link" href="impressum.html">Impressum</a>
        <a class="nav-link" target= blank href="https://www.easyvote.ch/de/home/">easyvote.ch</a>
        <a class="nav-link" target= blank href="https://www.admin.ch">admin.ch</a>
        <a class="nav-link" target= blank href="https://www.ch.ch">ch.ch</a>
    </nav>
</footer>
