<nav class="main-navigation navbar fixed-top navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="index.html">FairVote</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navb">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="index.html">Home</a>
        
            </li>
            <li class="nav-item">
                <a class="nav-link" href="liste.html">Abstimmungen</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" target="_blank"
                   href="https://www.ch.ch/de/demokratie/der-elektronische-stimmkanal/was-ist-e-voting/">Was ist E-Voting</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="help.html">Hilfe</a>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
                <a href="login.html"> <button class="btn btn-primary my-2 my-sm-0" type="button">Login</button></a>
        </form>
    </div>
</nav>
